* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Inizio Header */

header {
    background-color: #ADD8E6;
}

.container-header {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 700px;
    margin: auto;
    padding: 8px 0;

}

.container-header #logo, .container-header #login {
    
    width: 120px;

    padding: 5px;

    border: 0.5px dashed black;
    background-color: #DAA520;
}

.container-header #login {
    display: flex;
    justify-content: end;
}

.container-header #link {

    display: flex;
    flex-grow: 1;
    justify-content: center;

    padding: 5px;

    border: 0.5px dashed black;
    background-color: #DAA520;
}

/* Fine Header */

/* Inizio Main */

main #first-section {

    padding: 30px;

    background-color: #00008B;
}

main #first-section div {
    
    height: 200px;
    /* test*/

    max-width: 550px;
    margin: auto;

    border: 0.5px dashed black;
    background-color: #EE82EE;
}

main section {
    padding: 30px;
}

main section div {

    height: 250px;
    /* test*/

    display: flex;
    max-width: 700px;
    margin: auto;
    
    
}

main section div .img {
    width: 400px;

    border: 0.5px dashed black;
    background-color: #1E90FF;
}

main section div .element {
    flex-grow: 1;

    border: 0.5px dashed black;
    background-color: #FFC0CB;
}